#main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	widows: 100vw;
}

.background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	object-fit: cover;
}